.movie1 {
    color: black;
}

h1 {
    text-align: center;
    margin: 25px 0px 0px 40px;
    font-size: 50px;
    text-shadow: 2px 1px 8px #FF0000;
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1px 150px 1px 150px;
    padding: 50px 20px 50px 20px;
    font-size: 20px;
    clear: both;
    text-shadow: 1px 1px 5px white;
}

#sequel {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#chess {
    height: 350px;
    width: 100px;
    background: url("images/chess-pieces.png");
    background-size: 70%;
    position: absolute;
    margin: 10px 0px 0px 1300px;
}

.review {
    float: left;
}

a {
    font-size: 50px;
}

#title {
    background-image: radial-gradient(#03051F, #16194C, #181A36, #026E96, #133C91, #531F7A);
    /* change the title background to circular colors*/
    width: 500px;
    height: 70px;
    margin: auto;
    /*needed this so that the title would be in the midddle of the site*/
    transition: width 2s, height 2s, transform 2s, 2;
    animation-name: fadeOutLeft;
    animation-duration: 4s;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotate(720deg);
    }
}

.alink {
    width: 910px;
    height: 100px;
    transition: width 2s, height 2s, transform 2s;
}

.alink:hover {
    width: 1000px;/*increase the size of the div*/
    height: 500px;/*since the backgound dont change so it looks like zooming in*
}