h1 {
    text-align: center;
    color: white;
    
}
p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
       color: white;
}
.a{font-family: 'Lobster', cursive;}

#a{font-family: 'Lobster', cursive;}

