body {
    color: pink;
}

h1 {
    text-align: center;
    
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}

.a {
    font-family: 'Lobster', cursive;
}

#sequel {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
